<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.csmall.passport.mapper.AdminMapper">
    <!--int insert();-->
    <insert id="insert">
        INSERT INTO mall_ams.ams_admin
        VALUES (null, #{username}, #{password}, #{nickname}, #{avatar}, #{phone}, #{email},
                #{description}, #{enable}, #{lastLoginIp}, #{loginCount}, #{gmtLastLogin}, #{gmtCreate}, #{gmtModified})
    </insert>
    <!--int insertBatch(List<Admin> admins);-->
    <insert id="insertBatch">
        INSERT INTO mall_ams.ams_admin
        VALUES
        <foreach collection="list" separator="," item="i">
            (null,#{i.username},#{i.password},#{i.nickname},#{i.avatar},#{i.phone},#{i.email},
            #{i.description},#{i.enable},#{i.lastLoginIp},#{i.loginCount},#{i.gmtLastLogin},#{i.gmtCreate},#{i.gmtModified})
        </foreach>
    </insert>
    <!--int deleteById(Long id);-->
    <delete id="deleteById">
        DELETE
        FROM mall_ams.ams_admin
        WHERE id = #{id}
    </delete>
    <!--int deleteByIds(Long[] ids);-->
    <delete id="deleteByIds">
        DELETE FROM mall_ams.ams_admin
        WHERE id IN (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>
    <!--int update(Admin admin);-->
    <update id="update">
        UPDATE mall_ams.ams_admin
        <set>
            <if test="username!=null">#{username}</if>
            <if test="password!=null">#{password}</if>
            <if test="nickname!=null">#{nickname}</if>
            <if test="avatar!=null">#{avatar}</if>
            <if test="phone!=null">#{phone}</if>
            <if test="email!=null">#{email}</if>
            <if test="description!=null">#{description}</if>
            <if test="enable!=null">#{enable}</if>
            <if test="lastLoginIp!=null">#{lastLoginIp}</if>
            <if test="loginCount!=null">#{loginCount}</if>
            <if test="gmtLastLogin!=null">#{gmtLastLogin}</if>
            <if test="gmtCreate!=null">#{gmtCreate}</if>
            <if test="gmtModified!=null">#{gmtModified}</if>
        </set>
        WHERE id=#{id}
    </update>
    <!--int count();-->
    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM mall_ams.ams_admin
    </select>
    <!--int countByUsername(String username);-->
    <select id="countByUsername" resultType="int">
        SELECT count(*)
        FROM mall_ams.ams_admin
        WHERE username = #{username}
    </select>
    <!--int countByPhone(String phone);-->
    <select id="countByPhone" resultType="int">
        SELECT count(*)
        FROM mall_ams.ams_admin
        WHERE phone = #{phone}
    </select>
    <!--int countByEmail(String email);-->
    <select id="countByEmail" resultType="int">
        SELECT count(*)
        FROM mall_ams.ams_admin
        WHERE email = #{email}
    </select>
    <!-- AdminStandardVO getStandarId(Long id);-->
    <select id="getStandardId" resultType="cn.tedu.csmall.passport.pojo.vo.AdminStandardVO">
        SELECT id,
               username,
               nickname,
               avatar,
               phone,
               email,
               description,
               enable,
               last_login_ip,
               login_count,
               gmt_last_login
        FROM mall_ams.ams_admin
        WHERE id = #{id}
    </select>
    <!--List<AdminListVO> list();-->
    <select id="list" resultMap="ListResultMap">
        SELECT id,
               username,
               nickname,
               avatar,
               phone,
               email,
               description,
               enable,
               last_login_ip,
               login_count,
               gmt_last_login
        FROM mall_ams.ams_admin
        ORDER BY id
    </select>
    <!--AdminLonginInfoVO getLoginInfoByUsername(String username);-->
    <select id="getLoginInfoByUsername" resultType="cn.tedu.csmall.passport.pojo.vo.AdminLonginInfoVO">
        SELECT id,username,password,enable FROM mall_ams.ams_admin WHERE username=#{username}
    </select>
    <resultMap id="ListResultMap" type="cn.tedu.csmall.passport.pojo.vo.AdminListVO">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatar"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="description" property="description"/>
        <result column="enable" property="enable"/>
        <result column="last_login_ip" property="lastLoginIp"/>
        <result column="login_count" property="loginCount"/>
        <result column="gmt_last_login" property="gmtLastLogin"/>
    </resultMap>
</mapper>